<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{{ hero.showname }}-->
<a href="{% url 'booktest:show' '456' '789' %}">展示</a>
<hr>
<ul>
{% for hero in list %}
    {% if forloop.counter|divisibleby:"2" %}{# 求余过滤器 #}
        <li style="color: red">{{ forloop.counter }}:{{ hero.showname }}</li>
    {% else %}
        <li style="color: blue" ">{{ forloop.counter }}:{{ hero.showname }}</li>
    {% endif %}
    {% empty %}
    <li>啥也没找到</li>

{% endfor %}

</ul>
</body>
</html>